<script context="module">
  export async function preload(page, session) {
    const { username, dash } = page.params;
    const backendURI = process.env.BACKEND_URI || BACKEND_URI;
    const resp = await this.fetch(`${backendURI}/${username}`);
    const dashboards = await resp.json();
    const reservedResponse = await this.fetch(`${backendURI}/${username}/res`);
    const reserved = await reservedResponse.json();

    if (!dashboards.length) {
      this.redirect(302, `/${page.params.username}/try-out`);
    }

    return { dashboards, username, reserved };
  }
</script>

<script>
  import { goto } from "@sapper/app";
  import urlJoin from "proper-url-join";
  import ContentParagraph from "../components/css/ContentParagraph";
  import ContentFull from "../components/css/ContentFull";
  import ReserveUser from "../components/ReserveUser";
  import Tawk from "../components/Tawk";
  export let dashboards;
  export let username;
  export let reserved;
</script>

<style>
  p {
    cursor: pointer;
    margin-left: 0;
  }
  p:hover {
    background: hsl(212, 92%, 95%);
  }
</style>

<ContentParagraph>

  <h3>{username}'s dashboards</h3>

  {#if !reserved}
    <ReserveUser {username} />
  {:else}
    <p>Username '{username}' is reserved.</p>
  {/if}

  {#each dashboards as dash}
    <p
      class="radius shadow-1-1 xl box-padding box-margin c-gray-bg-10"
      on:click={() => goto(urlJoin(username, dash))}>
      {dash}
    </p>
  {/each}

</ContentParagraph>

<Tawk />
