<script>
  import Menu from "../components/landing/Menu";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import ContentParagraph from "../components/css/ContentParagraph";
  import Footer from "../components/landing/Footer";
  import StartButton from "../components/landing/StartButton";
</script>

<style>
  main {
    background: white;
  }
  .mt0 {
    margin-top: 0;
  }
</style>

<Menu />

<main>
  <Section>
    <ContentParagraph>
      <h1 class="mt0">About</h1>
      <p>
        Hi. My name is Krister Viirsaar and I built Bashboard (with a little
        help from my team). We're actually a
        <b>6 person development team</b>
        doing client work. From time to time we make our own products also.
      </p>
      <p>
        While building a product I found that there's no way to track my user
        funnel of Mailgun -> Unbounce -> My Node.js app. Not without having to
        learn someone's custom API that is. That's crazy, I don't have time to
        learn and remember another tool for such a simple task! What's worse is
        they're limited in functionality AND CLOSED SOURCE.. Not a great
        investment of my time.
      </p>
      <p>
        So starting with a simple website and customer interviews, we decided to
        solve this problem for us and others. While thinking about this problem
        we figured out a way to keep
        <b>
          the API so simple that you would never need to come to the website to
          send new data
        </b>
        . After first usage anyway. Well, this was very exiting and thus a few
        week project turned into 3 months. We wanted to get the database right
        after all.
      </p>
      <p>
        It would be cool if this project sustained itself money wise, but
        <b>it would be even cooler if it had a cool community around it</b>
        . Thus everything is open-source. And well, OS also came from wanting to
        fix usability issues and add customizations in other products we use.
      </p>
      <p>
        Regardless if this project becomes popular I'm using it and will keep
        developing it for years. Maybe I've made the mistake of falling in love
        with my product, but it seems to me that this thing is really cool and
        useful. And fun.
      </p>
      <p>
        All the best,
        <br />
        Krister
      </p>
      <h6>Links</h6>
      <p>
        <a target="_blank" href="https://krister.ee">Krister</a>
      </p>
      <p>
        <a target="_blank" href="https://randomforest.ee/">Team</a>
      </p>
    </ContentParagraph>

  </Section>
</main>

<Footer />
