<script>
  import ContentFull from "../components/css/ContentFull";
  import ContentNarrow from "../components/css/ContentNarrow";
  import ContentParagraph from "../components/css/ContentParagraph";
  import ChartsContainer from "../components/charts/ChartsContainer";
  import VarChart from "../components/charts/VarChart";
  import data from "../mock-data.js";
</script>

<ContentParagraph>
  <h1>Components</h1>
  <p>
    In addition to the
    <a href="/css">CSS classes</a>
    there are premade components for this app.
  </p>
  <h2>Charts</h2>
</ContentParagraph>

<ContentFull>

  <ChartsContainer>
    <VarChart widget={data.lastChart} title="LastChart" />
    <VarChart widget={data.lastChartObj} title="LastChart (object)" />
    <VarChart widget={data.barChart} title="BarChart" />
    <VarChart widget={data.stackChart} title="StackChart" />
    <VarChart widget={data.stackChartIrregular} title="StackChart2" />
  </ChartsContainer>

</ContentFull>
