<script>
  import ContentFull from "../components/css/ContentFull";
  import ContentNarrow from "../components/css/ContentNarrow";
  import ContentParagraph from "../components/css/ContentParagraph";
</script>

<style>
  .box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 5.5 - 1rem);
    height: 5rem;
    border-radius: 0.5rem;
    margin: 0 1rem 1rem 0;
    box-sizing: border-box;
    vertical-align: top;
    overflow: hidden;
  }
</style>

<ContentFull background="white">
  <ContentParagraph>
    <h1>CSS classes</h1>

    <p>
      Font, color schemes and other stuff are global CSS classes. There are also
      <a href="/com">components</a>
      .
    </p>

    <h2>Fonts</h2>

    <p>
      The font used is
      <b>GlacialIndifference</b>
      . I saw it on
      <a target="_blank" href="https://remotefaces.com/">RemoteFaces.com</a>
      and liked it -
      <i>thanks guys!</i>

    </p>

    <p>
      Font sizes are inspired from the
      <a target="_blank" href="https://refactoringui.com/">Refactoring UI</a>
      template. Because why reinvent the wheel. But my brain works in rem, so
      converted px to rem using
      <a
        target="_blank"
        href="https://snook.ca/archives/html_and_css/font-size-with-rem">
        this neat little trick
      </a>
      .
    </p>

    <h1>Heading 1 - super long line that breaks</h1>
    <h2>Heading 2 - super long line that breaks</h2>
    <h3>Heading 3 - super long line that breaks into multiple</h3>
    <h4>
      Heading 4 - super long line that breaks into multiple lines for sho'
    </h4>
    <h5>
      Heading 5 - super long line that breaks into multiple lines for sho', yo!
    </h5>
    <h6>
      Heading 6 - super long line that breaks into multiple lines for sho', yo!
    </h6>
    <p class="xl">p.xl &#9; Paragraph larger</p>
    <p class="l">p.l &#9; Paragraph large</p>
    <p>p &#9; Paragraph</p>
    <p class="s">p.s &#9; Paragraph small</p>
    <p class="xs">p.xs &#9; Paragraph smaller</p>

    <pre>
      {`fetch('code-example.com', {
  method: 'POST',
  body: JSON.stringify({
    amount: 3,
    price: 45,
    age: 35
  })
})
    `}
    </pre>

    <h2>Shadows</h2>

    <div class="box shadow-1-1 c-gray-bg-10">.shadow-1-1</div>
    <div class="box shadow-2-1 c-gray-bg-10">.shadow-2-1</div>
    <div class="box shadow-3-1 c-gray-bg-10">.shadow-3-1</div>
    <div class="box shadow-4-1 c-gray-bg-10">.shadow-4-1</div>
    <div class="box shadow-5-1 c-gray-bg-10">.shadow-5-1</div>
    <div class="box shadow-1-2 c-gray-bg-10">.shadow-1-2</div>
    <div class="box shadow-2-2 c-gray-bg-10">.shadow-2-2</div>
    <div class="box shadow-3-2 c-gray-bg-10">.shadow-3-2</div>
    <div class="box shadow-4-2 c-gray-bg-10">.shadow-4-2</div>
    <div class="box shadow-5-2 c-gray-bg-10">.shadow-5-2</div>

    <h2>Color palette</h2>

    <h4>Special brand color</h4>

    <div class="box shadow-1-2 c-brand-bg">.c-brand-bg</div>
    <div class="box shadow-1-2 c-bg-white">.c-bg-white</div>

    <h4>Primary colors</h4>

    <div class="box shadow-1-2 c-primary-bg-1">
      <p class="xs">.c-primary-bg-1</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-2">
      <p class="xs">.c-primary-bg-2</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-3">
      <p class="xs">.c-primary-bg-3</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-4">
      <p class="xs">.c-primary-bg-4</p>
    </div>
    <div class="box shadow-3 c-primary-bg">
      <p class="xs">.c-primary-bg</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-6">
      <p class="xs">.c-primary-bg-6</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-7">
      <p class="xs">.c-primary-bg-7</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-8">
      <p class="xs">.c-primary-bg-8</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-9">
      <p class="xs">.c-primary-bg-9</p>
    </div>
    <div class="box shadow-1-2 c-primary-bg-10">
      <p class="xs">.c-primary-bg-10</p>
    </div>

    <h4>Accent colors</h4>

    <div class="box shadow-1-2 c-accent-bg-1">
      <p class="xs">.c-accent-bg-1</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-2">
      <p class="xs">.c-accent-bg-2</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-3">
      <p class="xs">.c-accent-bg-3</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-4">
      <p class="xs">.c-accent-bg-4</p>
    </div>
    <div class="box shadow-3 c-accent-bg">
      <p class="xs">.c-accent-bg</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-6">
      <p class="xs">.c-accent-bg-6</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-7">
      <p class="xs">.c-accent-bg-7</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-8">
      <p class="xs">.c-accent-bg-8</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-9">
      <p class="xs">.c-accent-bg-9</p>
    </div>
    <div class="box shadow-1-2 c-accent-bg-10">
      <p class="xs">.c-accent-bg-10</p>
    </div>

    <h4>Grays</h4>

    <div class="box shadow-1-2 c-gray-bg-1">
      <p class="xs">.c-gray-bg-1</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-2">
      <p class="xs">.c-gray-bg-2</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-3">
      <p class="xs">.c-gray-bg-3</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-4">
      <p class="xs">.c-gray-bg-4</p>
    </div>
    <div class="box shadow-3 c-gray-bg">
      <p class="xs">.c-gray-bg</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-6">
      <p class="xs">.c-gray-bg-6</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-7">
      <p class="xs">.c-gray-bg-7</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-8">
      <p class="xs">.c-gray-bg-8</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-9">
      <p class="xs">.c-gray-bg-9</p>
    </div>
    <div class="box shadow-1-2 c-gray-bg-10">
      <p class="xs">.c-gray-bg-10</p>
    </div>

    <h4>Semantic colors</h4>

    <div class="box shadow-1-2 c-error-bg-1">
      <p class="xs">.c-error-bg-1</p>
    </div>
    <div class="box shadow-1-2 c-error-bg-2">
      <p class="xs">.c-error-bg-2</p>
    </div>
    <div class="box shadow-1-2 c-error-bg-3">
      <p class="xs">.c-error-bg-3</p>
    </div>
    <div class="box shadow-1-2 c-error-bg-4">
      <p class="xs">.c-error-bg-4</p>
    </div>
    <div class="box shadow-1-2 c-error-bg-5">
      <p class="xs">.c-error-bg-5</p>
    </div>

    <div class="box shadow-1-2 c-warning-bg-1">
      <p class="xs">.c-warning-bg-1</p>
    </div>
    <div class="box shadow-1-2 c-warning-bg-2">
      <p class="xs">.c-warning-bg-2</p>
    </div>
    <div class="box shadow-1-2 c-warning-bg-3">
      <p class="xs">.c-warning-bg-3</p>
    </div>
    <div class="box shadow-1-2 c-warning-bg-4">
      <p class="xs">.c-warning-bg-4</p>
    </div>
    <div class="box shadow-1-2 c-warning-bg-5">
      <p class="xs">.c-warning-bg-5</p>
    </div>

    <div class="box shadow-1-2 c-success-bg-1">
      <p class="xs">.c-success-bg-1</p>
    </div>
    <div class="box shadow-1-2 c-success-bg-2">
      <p class="xs">.c-success-bg-2</p>
    </div>
    <div class="box shadow-1-2 c-success-bg-3">
      <p class="xs">.c-success-bg-3</p>
    </div>
    <div class="box shadow-1-2 c-success-bg-4">
      <p class="xs">.c-success-bg-4</p>
    </div>
    <div class="box shadow-1-2 c-success-bg-5">
      <p class="xs">.c-success-bg-5</p>
    </div>

    <h4>Chart colors</h4>

    <div class="box shadow-1-2 c-chart-bg-1">.c-chart-bg-1</div>
    <div class="box shadow-1-2 c-chart-bg-2">.c-chart-bg-2</div>
    <div class="box shadow-1-2 c-chart-bg-3">.c-chart-bg-3</div>
    <div class="box shadow-1-2 c-chart-bg-4">.c-chart-bg-4</div>
    <br />
    <div class="box shadow-1-2 c-chart-bg-5">.c-chart-bg-5</div>
    <div class="box shadow-1-2 c-chart-bg-6">.c-chart-bg-6</div>
    <div class="box shadow-1-2 c-chart-bg-7">.c-chart-bg-7</div>
    <div class="box shadow-1-2 c-chart-bg-8">.c-chart-bg-8</div>
    <br />
    <div class="box shadow-1-2 c-chart-bg-9">.c-chart-bg-9</div>
    <div class="box shadow-1-2 c-chart-bg-10">.c-chart-bg-10</div>
    <div class="box shadow-1-2 c-chart-bg-11">.c-chart-bg-11</div>
    <div class="box shadow-1-2 c-chart-bg-12">.c-chart-bg-12</div>
    <br />
    <div class="box shadow-1-2 c-chart-bg-13">.c-chart-bg-13</div>
    <div class="box shadow-1-2 c-chart-bg-14">.c-chart-bg-14</div>
    <div class="box shadow-1-2 c-chart-bg-15">.c-chart-bg-15</div>
    <div class="box shadow-1-2 c-chart-bg-16">.c-chart-bg-16</div>
    <br />
    <div class="box shadow-1-2 c-chart-bg-17">.c-chart-bg-17</div>
    <div class="box shadow-1-2 c-chart-bg-18">.c-chart-bg-18</div>
    <div class="box shadow-1-2 c-chart-bg-19">.c-chart-bg-19</div>
    <div class="box shadow-1-2 c-chart-bg-20">.c-chart-bg-20</div>
    <br />
    <div class="box shadow-1-2 c-chart-bg-21">.c-chart-bg-21</div>
    <div class="box shadow-1-2 c-chart-bg-22">.c-chart-bg-22</div>
    <div class="box shadow-1-2 c-chart-bg-23">.c-chart-bg-23</div>
    <div class="box shadow-1-2 c-chart-bg-24">.c-chart-bg-24</div>
    <br />
    <div class="box shadow-1-2 c-chart-bg-25">.c-chart-bg-25</div>
    <div class="box shadow-1-2 c-chart-bg-26">.c-chart-bg-26</div>
    <div class="box shadow-1-2 c-chart-bg-27">.c-chart-bg-27</div>
    <div class="box shadow-1-2 c-chart-bg-28">.c-chart-bg-28</div>

  </ContentParagraph>
</ContentFull>
