<script>
  import Menu from "../components/landing/Menu";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import ContentParagraph from "../components/css/ContentParagraph";
  import Footer from "../components/landing/Footer";
  import StartButton from "../components/landing/StartButton";
  import VarChart from "../components/charts/VarChart";
  import data from "../mock-data.js";
</script>

<style>
  main {
    background: white;
  }
  .mt0 {
    margin-top: 0;
  }
  iframe {
    border: none;
    width: 100%;
    height: 45rem;
  }

  @media (max-width: 30rem) {
    iframe {
      margin-left: -4rem;
      width: 100vw;
    }
  }
</style>

<Menu />

<main>
  <Section>
    <ContentParagraph>
      <h1 class="mt0">Examples</h1>

      <p>
        These examples will show what kind of data Bashboard can currently
        accept. If there's something missing that you need let us know in
        <a
          target="_blank"
          href="https://www.reddit.com/r/bashboard/comments/gduins/missing_data_formats_and_chart_types/">
          the forum
        </a>
        . It's a priority topic. Zapier (click based integrations) is coming
        later.
      </p>
      <p>
        Please note that even if your preferred data format isn't (yet)
        supported your data will be saved anyway. So if something is missing you
        can start sending us what you need, then file a
        <a
          target="_blank"
          href="https://www.reddit.com/r/bashboard/comments/gduins/missing_data_formats_and_chart_types/">
          feature request
        </a>
        .
      </p>
      <p>There's 3 types of example data on this page:</p>
      <Grid gap={'3rem'}>
        <p>Strings (some repeat)</p>
        <pre>"home", "examples", "price", "price", "home", "price"</pre>
        <p>Numbers</p>
        <pre>15, 10.2, 3.3, 8.1, 8.9</pre>
        <p>JSON objects</p>
        <pre>{`{\n  an_object: 32.3,\n  with_numbers: 12.7\n}`}</pre>
      </Grid>

      <h3>Last entry</h3>
      <p>
        In the very least you're going to see the last entry you sent us,
        regardless of content. This is why it's also the default chart. In this
        example you can see the actual data format used in these examples.
      </p>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/last"
      title="examples - last"
      frameborder="0" />

    <ContentParagraph>
      <h3>Series</h3>
      <p>
        Series is your data as it was received with no time-grouping. Numbers or
        numbers in object values work.
      </p>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/series"
      title="examples - series"
      frameborder="0" />

    <ContentParagraph>
      <h3>Timeseries</h3>
      <p>
        All of the charts (except for Last and Series) can be grouped by minute,
        hour, day and month.
      </p>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/timeseries"
      title="examples - timeseries"
      frameborder="0" />

    <ContentParagraph>
      <h3>Average</h3>
      <p>See your data averaged. Either numbers or numbers in object values.</p>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/avg"
      title="examples - avg"
      frameborder="0" />

    <ContentParagraph>
      <h3>Sum</h3>
      <p>Same as average, just.. instead it sums numbers.</p>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/sum"
      title="examples - sum"
      frameborder="0" />

    <ContentParagraph>
      <h3>Categorize</h3>
      <p>If you've sent strings, then we can group and count them.</p>
      <p>Example data:</p>
      <pre>"home", "examples", "price", "price", "home", "price"</pre>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/categorize"
      title="examples - categorize"
      frameborder="0" />

    <ContentParagraph>
      <h3>Count entries</h3>
      <p>
        With any type of data we can always just count how many entries there
        are.
      </p>
    </ContentParagraph>

    <iframe
      class="radius shadow"
      src="examples/count"
      title="examples - count"
      frameborder="0" />

  </Section>

  <Section dark={true} textCenter={true}>
    <h3>Get started</h3>
    <p>No strings attached. Just see if it's for you.</p>
    <StartButton />
  </Section>
</main>

<Footer />
