<script>
  import Menu from "../components/landing/Menu";
  import StartButton from "../components/landing/StartButton";
  import ContentFull from "../components/css/ContentFull";
  import ContentParagraph from "../components/css/ContentParagraph";
  import Hero from "../components/landing/Hero";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import Footer from "../components/landing/Footer";
  import VarChart from "../components/charts/VarChart";
  import data from "../mock-data.js";
</script>

<style>
  main {
    background: white;
  }
  .circle {
    width: 19rem;
    height: 19rem;
    border: 1rem solid hsl(218, 46%, 65%);
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto 1rem auto;
  }
  .circle :global(.chart-container) {
    width: 60rem !important;
    min-width: auto !important;
    height: 20rem !important;
  }
  .nomargin {
    margin-top: 0;
  }
</style>

<Menu back="c-gray-bg-6" />

<main>
  <Hero>
    <ContentParagraph>
      <h3>Instant Dashboards For Any Data Source</h3>
      <p class="xl">
        Bashboard is an all-in-one dashboard that can access
        <i>any data source</i>
        online. No more chasing stats across the web. No more manual data entry.
        No missing integrations. Get the insight you deserve. Make great
        decisions.
      </p>
      <StartButton label="Build yours in 30 sec" />
      <p class="float-right">
        That's
        <a href="bashboard/system">live data</a>
        ->
      </p>
    </ContentParagraph>
  </Hero>

  <Section textCenter={true}>
    <Grid cols={3}>
      <div>
        <img
          class="circle"
          src="images/1-connect.svg"
          alt="Logos of Zapier, Webhook and POST request" />
        <h2 class="nomargin">Connect</h2>
        <p>
          Connect a service with a Zapier integration, Webhook or POST request
        </p>
      </div>
      <div>
        <img
          class="circle"
          src="images/2-customize.png"
          alt="Different chart type examples" />
        <h2 class="nomargin">Customize</h2>
        <p>Data is ready! Now choose the best chart.</p>
      </div>
      <div>
        <img class="circle" src="images/3-act.svg" alt="Woman is deciding." />
        <h2 class="nomargin">Act!</h2>
        <p>Learn from the metrics and make informed decisions!</p>
      </div>
    </Grid>
  </Section>

  <Section dark={true} textCenter={true}>
    <h1>Track anything!</h1>
    <p class="xl">
      Social media, Financials, User funnels, Sales targets, Marketing results,
      Ad spend, Server uptime, Website traffic, GitHub activity, CI/CD, KPI's,
      Grandma's heart rate.
    </p>
  </Section>

  <Section>
    <h1>Features</h1>
    <br />
    <Grid>
      <div>
        <h4>Send data from any source</h4>
        <p>
          Bashboard's main purpose is to accept data through POST requests from
          any source. It's like having integrations to infinite services.
          There's also Zapier with fixed integrations and a click-only
          interface.
        </p>
      </div>
      <div>
        <object
          title="Illustrate anywhere"
          class="w100"
          type="image/svg+xml"
          data="images/features/features-1-anywhere.svg" />
      </div>
      <div>
        <h4>Feed data in any format</h4>
        <p>
          It's not your job to figure out our API. So we'll make a chart out of
          anything you throw at us. If you don't get what you expected - let us
          fix that issue for you and others. So go ahead, shoot!
        </p>
      </div>
      <div>
        <object
          title="Illustrate any format"
          class="w100"
          type="image/svg+xml"
          data="images/features/features-2-any-format.svg" />
      </div>
      <div>
        <h4>Never lose your history</h4>
        <p>
          We wont reset your data whatever happens. Change chart settings, send
          us data in a new format. Whatever happens, your history will remain in
          tact. Even if the charts get confused - what you send to us is stored
          in it's original format.
        </p>
      </div>
      <div>
        <object
          title="Illustrate secure"
          class="w100"
          type="image/svg+xml"
          data="images/features/features-3-secure.svg" />
      </div>
    </Grid>
  </Section>

  <Section dark={true}>
    <Grid>
      <div>
        <h4>Who is this for?</h4>
        <p>
          If you want to make data-informed decisions and use many different
          services for your job - Bashboard is for you. Especially if you
          already have multiple dashboards spread across the web. Or even worse
          - you've made a custom intermediary database between your data source
          and the dashboard. Yikes! You'll love Bashboard.
        </p>
      </div>
      <div>
        <h4>
          Who is this
          <b>not</b>
          for?
        </h4>
        <p>
          If you have only a single data source (like your app DB or server) or
          you need deep insight with detailed custom queries - you're better off
          with Grafana or Databox.
        </p>
      </div>
    </Grid>
  </Section>

  <Section>
    <h1>Extra benefits</h1>
    <br />
    <Grid>
      <div>
        <h4>Open source</h4>
        <p>
          All of the code is
          <a target="_blank" href="https://gitlab.com/bashboard">
            available on GitLab
          </a>
          . Don't be tied to the provider. Perhaps you need very business
          specific charts? Maybe you want to keep your data a secret? Maybe all
          you need is the backend? What if Bashboard is a good starting point
          for a whole other solution your business needs? No problem, make it
          happen. Just don't be a jerk and sell our software, check the license
          :)
        </p>
      </div>
      <div>
        <h4>Real-time</h4>
        <p>
          Apparently there are dashboards that update every 4 hours.. Why use
          them? Our charts go from data to chart in less than a minute. And our
          aim is to make it instant (it's definitely possible).
        </p>
      </div>
      <div>
        <h4>Easy customization</h4>
        <p>
          Currently our customization is super easy. Our next iteration will add
          flexibility. Ultimately the goal is ultra-configurability (is that a
          word?). To the point that you can write your own data conversion
          function and/or chart type.
        </p>
      </div>
      <div>
        <h4>Dedicated to users</h4>
        <p>
          Bashboard without it's users is a bullet train with only one passanger
          (only ourselves would still use it). Thus feature requests are taken
          seriously. Bugs will be fixed. So report them, talk to us. And we're
          not a corporation, you'll probably be talking to a developer.
        </p>
      </div>
      <div>
        <h4>No data lock-in</h4>
        <p>
          You can download all of your data when you need to migrate somewhere
          else. We are the best at what we do, but needs change and we don't
          solve all problems in the world. You own your data, we'll package it
          up for you if you go.
        </p>
      </div>
      <div>
        <h4>Mobile first</h4>
        <p>
          If you need to show growth in an elevator-pitch to an investor - you
          better have your dashboard ready on any device. Bashboard is
          responsive and usable on anything from phones and tablets to TV's and
          digital billboards. I mean why not show the world how amazing you are
          :) (smartwatch anyone?)
        </p>
      </div>
      <div>
        <h4>Embed anywhere</h4>
        <p>
          That dashboard in at the top of this page is live data. In the same
          way your dashboard is ready to be shared on your website, blog or
          presentation. Why bother updating data if you can have live updates.
          Impress your audience. Build trust.
        </p>
      </div>
      <div>
        <h4>No-contact setup</h4>
        <p>
          To send data to Bashboard you don't need to come to our website to
          generate a special link. All you need to do is remember your username
          and you can make up the rest of the URL on the go. An example: Martin
          has a project named KissingBooth and he want's to track usage, so he
          makes a POST request (or connects a webhook) to
          https://bashboard.io/martin/kissingbooth/kisses. Either with empty
          data or some useful numbers.
        </p>
      </div>
    </Grid>
  </Section>

  <Section dark={true} textCenter={true}>
    <h3>Get started</h3>
    <p>No strings attached. Just see if it's for you.</p>
    <StartButton />
  </Section>

  <Footer />

</main>
