<script>
  import { goto } from "@sapper/app";
  import Menu from "../components/landing/Menu";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import ContentParagraph from "../components/css/ContentParagraph";
  import Footer from "../components/landing/Footer";
  import StartButton from "../components/landing/StartButton";

  const random = `rand${parseInt(Math.random() * 1000000)}`;
  let btnVal = `Make a chart`;

  function handleSubmit(e) {
    e.preventDefault();
    const user = document.querySelector('input[name="user"]').value || random;
    goto(user);
  }
</script>

<style>
  main {
    background: white;
  }
</style>

<Menu />

<main>
  <Section textCenter={true}>
    <ContentParagraph>
      <h3>Choose a username</h3>
      <p>You can change it later. In fact, here's a random one.</p>
      <form class="col" on:submit={handleSubmit}>
        <input name="user" type="text" placeholder={random} />
        <input type="submit" value="Continue" />
      </form>
    </ContentParagraph>
  </Section>
</main>

<Footer />
