<script>
  import { goto } from "@sapper/app";
  import Menu from "../components/landing/Menu";
  import PriceBox from "../components/landing/PriceBox";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import Footer from "../components/landing/Footer";
</script>

<Menu back="c-gray-bg-9" />

<Section>
  <Grid cols={4} gap={'2rem'} radius={true}>
    <PriceBox
      title="Beta"
      button="Make a chart"
      buttonSub="No credit card, no registering"
      action={() => goto('/new')}>
      <p class="xs c-gray-3 text-center">Limited time offer</p>
      <ul>
        <li>Real-time (minute)</li>
        <li>Unlimited dashboards</li>
        <li>Unlimited charts</li>
        <li>Unlimited requests</li>
        <li>Public dashboards</li>
        <li>POST request only</li>
        <li>Basic chart types</li>
        <li>Data saved forever</li>
        <li>Embed dashboard</li>
      </ul>
    </PriceBox>
    <PriceBox title="Indie" price={15} buttonSub="Includes 7 day trial">
      <p class="xs c-gray-3 text-center">Plus previous tier</p>
      <ul>
        <li>Private dashboards</li>
        <li>Private sharing link</li>
        <li>No-code integrations (Zapier)</li>
        <li>Google Sheets integration</li>
        <li>10 Chart types</li>
      </ul>
    </PriceBox>
    <PriceBox title="Pro" price={45} buttonSub="Includes 7 day trial">
      <p class="xs c-gray-3 text-center">Plus previous tiers</p>
      <ul>
        <li>Client reports</li>
        <li>Alerts and notifications</li>
        <li>Deep chart customization</li>
        <li>Custom data mapping functions</li>
        <li>Custom branding</li>
        <li>Automation tools</li>
        <li>Organization features</li>
      </ul>
    </PriceBox>
    <PriceBox
      title="Hosted"
      price={100}
      button="Contact us"
      buttonSub="bb-hosting@krister.ee">
      <p class="xs c-gray-3 text-center">Plus previous tiers</p>
      <ul>
        <li>All previous benefits</li>
        <li>Custom domain</li>
        <li>Indipendent hosting</li>
      </ul>
    </PriceBox>
  </Grid>
</Section>

<Footer />
