<script>
  import Menu from "../components/landing/Menu";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import ContentParagraph from "../components/css/ContentParagraph";
  import Footer from "../components/landing/Footer";
  import StartButton from "../components/landing/StartButton";
</script>

<style>
  main {
    background: white;
  }
  .mt0 {
    margin-top: 0;
  }
</style>

<Menu />

<main>
  <Section>
    <ContentParagraph>
      <h1 class="mt0">Roadmap</h1>
      <p>
        Bashboard is in beta. It has a strong backend and may be useful some
        people already, so
        <a href="new">try it out</a>
        . But there are many obvious features that users will need. And here
        they are in no particular order.
      </p>
      <p>
        Feature requests are welcome in our
        <a
          target="_blank"
          href="https://www.reddit.com/r/bashboard/comments/gd771z/feature_requests/">
          subreddit
        </a>
        . Vote and we'll prioritize accordingy.
      </p>

      <h4>First priority</h4>
      <ul>
        <li>Private dashboards (user login)</li>
        <li>Zapier for fast click-based data sources</li>
      </ul>

      <h4>Social features</h4>
      <ul>
        <li>Private sharing link</li>
        <li>Public sharing link</li>
        <li>Discover other dashboards</li>
        <li>Clone chart to your own dashboard</li>
      </ul>

      <h4>Organization</h4>
      <ul>
        <li>Groups - organize company users under one umbrella</li>
        <li>Generate PDF reports</li>
        <li>Automatic report emails</li>
        <li>Individual reports for clients and investors</li>
        <li>Get data from Google Sheets</li>
        <li>Custom branding</li>
      </ul>

      <h4>Dashboard</h4>
      <ul>
        <li>More chart types</li>
        <li>Alerts and notifications</li>
        <li>Automate processes with triggers</li>
        <li>Manual automation buttons</li>
        <li>Deep customization options</li>
        <li>Custom data mapping and aggregation</li>
      </ul>

      <hr />
      <p>
        Now seriously, head over to the
        <a
          target="_blank"
          href="https://www.reddit.com/r/bashboard/comments/gd771z/feature_requests/">
          subreddit
        </a>
        and help us prioritize this stuff.
      </p>

    </ContentParagraph>
  </Section>

  <Section dark={true} textCenter={true}>
    <ContentParagraph>
      <h3 class="mt0">Get started</h3>
      <p>
        Bashboard is in fast movement. Get your data in now and get more and
        more benefits going forward.
      </p>
      <StartButton />
    </ContentParagraph>
  </Section>
</main>

<Footer />
