<script>
  import Menu from "../components/landing/Menu";
  import Grid from "../components/landing/Grid";
  import Section from "../components/landing/Section";
  import ContentParagraph from "../components/css/ContentParagraph";
  import Footer from "../components/landing/Footer";
  import StartButton from "../components/landing/StartButton";
</script>

<style>
  main {
    background: white;
  }
  .mt0 {
    margin-top: 0;
  }
  iframe {
    border: none;
    width: 100%;
  }

  @media (max-width: 30rem) {
    iframe {
      margin-left: -4rem;
      width: 100vw;
    }
  }
</style>

<Menu />

<main>
  <Section>
    <ContentParagraph>
      <h1 class="mt0">Usecases</h1>
      <blockquote>
        With infinite data sources comes infinite possibilities.
      </blockquote>
      <p>
        I made that quote up. But it's how you'll feel when you start using
        Bashboard. Here are just a few examples of internal metrics we use at
        Bashboard.
      </p>
      <h4>User tracking</h4>
      <p>
        This very website is not using Google Analytics or any third party
        analytics. It uses itself :) Check out the code
        <a
          target="_blank"
          href="https://gitlab.com/bashboard/bashboard-front-svelte/-/blob/master/src/visitor-logger.js">
          here
        </a>
        .
      </p>
    </ContentParagraph>

    <iframe
      height="450"
      class="c-gray-bg-8 radius shadow"
      src="bashboard/landing"
      title="bashboard users" />

    <ContentParagraph>
      <h4>System monitoring</h4>
      <p>
        If
        <i>all</i>
        you need is system monitoring, then you're probably better of finding a
        focused solution for your system. But if you have many charts and system
        monitoring is one, it's very comfy to keep everything in one place.
      </p>
    </ContentParagraph>

    <iframe
      height="830"
      class="c-gray-bg-8 radius shadow"
      src="bashboard/system"
      title="bashboard demo" />

  </Section>

  <Section dark={true} textCenter={true}>
    <h3>Get started</h3>
    <p>No strings attached. Just see if it's for you.</p>
    <StartButton />
  </Section>
</main>

<Footer />
