<script>
  export let background = "none";
</script>

<style>
  div {
    padding: 3rem;
    min-height: 100vh;
    box-sizing: border-box;
  }
</style>

<div style={`background: ${background}`}>
  <slot />
</div>
