<script>
  import Section from "./Section";
  import Grid from "./Grid";
  import Tawk from "../Tawk";
</script>

<Section superdark={true}>
  <Grid cols={3}>
    <div>
      <h6>Sitemap</h6>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/price">Price</a>
        </li>
        <li>
          <a href="/examples">Examples</a>
        </li>
        <li>
          <a href="/roadmap">Roadmap</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/new">Getting started</a>
        </li>
      </ul>
    </div>
    <div>
      <h6>Support</h6>
      <ul>
        <li>Chat bubble -></li>
        <li>
          Chat:
          <a target="_blank" href="https://discord.gg/zH37cu">Discord</a>
        </li>
        <li>
          Forum:
          <a target="_blank" href="https://www.reddit.com/r/bashboard/">
            Reddit
          </a>
        </li>
        <li>Email: bashboard-l@krister.ee</li>
      </ul>
    </div>
    <div>
      <h6>More</h6>
      <ul>
        <li>
          <a target="_blank" href="https://gitlab.com/bashboard/">
            Code is on GitLab
          </a>
        </li>
      </ul>
    </div>
  </Grid>
</Section>

<Tawk />
