<script>
  export let cols = 2;
  export let gap = "10rem";
  export let fixedWidth = undefined;
  export let radius = false;

  const itemWidth = fixedWidth ? `calc(${fixedWidth} / ${cols})` : "1fr";
</script>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--item-width));
    margin: auto;
  }
  .gap {
    grid-row-gap: var(--gap);
    grid-column-gap: var(--gap);
  }
  div > :global(*) > :global(*:first-child) {
    margin-top: 0;
  }

  @media (max-width: 87rem) {
    .cols-4 {
      grid-template-columns: repeat(2, var(--item-width));
    }
  }

  @media (max-width: 70rem) {
    .cols-3,
    .cols-2 {
      grid-template-columns: repeat(1, var(--item-width));
    }
    .gap {
      grid-row-gap: min(var(--gap), 4rem);
      grid-column-gap: min(var(--gap), 4rem);
    }
  }

  @media (max-width: 56rem) {
    .cols-4 {
      grid-template-columns: repeat(1, var(--item-width));
    }
  }
</style>

<div
  style="--cols: {cols}; --item-width: {itemWidth}; --gap: {gap}"
  class="cols-{cols} GRID"
  class:radius
  class:gap>
  <slot />
</div>
