<script>
  import Grid from "./Grid";
  import Section from "./Section";
</script>

<style>
  .browser {
    overflow: hidden;
    width: 45vw;
    height: 70vh;
    max-height: 50rem;
    position: absolute;
    bottom: 0;
  }
  .browser-inner {
    width: 90vw;
    height: 100rem;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  .browser-inner > .image {
    width: 100%;
    margin-bottom: -2px;
  }
  .image > img {
    vertical-align: bottom;
    width: 100%;
  }
  .browser iframe {
    height: 100%;
    width: 100%;
  }

  iframe {
    border: 0;
    overflow: hidden;
  }

  .mobile {
    display: inline-block;
    width: 33rem;
    height: 60rem;
    border: 1rem solid hsl(222, 35%, 48%);
    box-sizing: border-box;
    border-radius: 4rem;
    overflow: hidden;
    position: absolute;
    top: max(calc(80vh - 60rem + 5rem), 5rem);
    right: 5rem;
    z-index: 1;
  }
  .mobile iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 70rem) {
    .mobile {
      display: none;
    }
    .browser {
      position: relative;
      margin: auto;
      width: 70vw;
      height: auto;
    }
    .browser-inner {
      margin: auto;
      width: 140vw;
    }
  }
</style>

<Section dark={true} maxWidth={false} minHeight={true}>
  <div class="mobile shadow-2 c-gray-bg-8">
    <iframe
      scrolling="no"
      src="bashboard/system"
      title="bashboard demo mobile" />
  </div>
  <Grid>
    <div>
      <slot />
    </div>
    <div>
      <div class="browser">
        <div class="col browser-inner">
          <div class="image">
            <img src="images/browser-bar.svg" alt="borswer bar" />
          </div>
          <iframe
            scrolling="no"
            class="c-gray-bg-8"
            src="bashboard/system"
            title="bashboard demo" />
        </div>
      </div>
    </div>
  </Grid>
</Section>
