<script>
  import { onMount } from "svelte";
  import logVisit from "../../visitor-logger";

  export let back = "white";

  onMount(() => {
    logVisit();
  });
</script>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
  h4 {
    margin: 0;
  }
  div {
    margin: 0.5rem 1.5rem;
  }
  div:first-child {
    float: left;
  }
  div:nth-child(2) {
    float: right;
    margin-top: 1.4rem;
  }
  a,
  a:visited {
    text-decoration: none;
    text-transform: capitalize;
  }
  a,
  a:visited,
  a:hover {
    color: inherit;
  }
  .item {
    margin-left: 1rem;
  }
  @media (min-width: 70rem) {
    nav {
      background: none;
    }
  }
  @media (max-width: 70rem) {
    nav {
      position: relative;
      display: block;
      padding: 1rem 0 5rem 0;
    }
    .white {
      background: white;
    }
  }
</style>

<nav class={back}>
  <div>
    <a href="/">
      <h4>Bashboard</h4>
    </a>
  </div>
  <div>
    <a class="l item" href="/price">price</a>
    <a class="l item" href="/usecases">usecases</a>
    <a class="l item" href="/examples">examples</a>
    <a class="l item" href="/roadmap">roadmap</a>
    <a class="l item" href="/about">about</a>
  </div>
</nav>
