<script>
  import Button from "../Button";

  export let title;
  export let price;
  export let button = "coming soon";
  export let buttonSub = undefined;
  export let action = undefined;
</script>

<style>
  main {
    position: relative;
    background: white;
    padding-top: 5rem;
  }
  main > div:nth-child(2) {
    flex-grow: 1;
  }
  .content {
    text-align: left;
  }
  .xs {
    margin-bottom: 0;
  }
</style>

<main class="text-center shadow-1-2 box-padding col radius">
  <h4>{title}</h4>
  <div class="content grow">
    <slot />
  </div>
  <div class="baseline center row">
    {#if price}
      <h1>${price}</h1>
      <p class="xs">&NonBreakingSpace;/ month</p>
    {:else}
      <h1>Free</h1>
    {/if}
  </div>
  <Button {action}>{button}</Button>
  {#if buttonSub}
    <p class="xs c-gray-3">{buttonSub}</p>
  {:else}
    <p class="xs">&nbsp;</p>
  {/if}
</main>
