<script>
  export let maxWidth = true;
  export let minHeight = false;
  export let dark = false;
  export let superdark = false;
  export let textCenter = false;
</script>

<style>
  main {
    width: 100%;
    position: relative;
  }
  div {
    width: 100%;
    padding: 10rem;
    box-sizing: border-box;
  }
  .maxWidth {
    max-width: 140rem;
    margin: auto;
  }
  .maxWidth > :global(*:first-child) {
    margin-top: 0;
  }
  .minHeight {
    min-height: 80vh;
    display: flex;
    align-items: center;
  }

  @media (max-width: 70rem) {
    .minHeight {
      padding-bottom: 0 !important;
    }
    div {
      padding: 4rem;
    }
    div > :global(.content-paragraph) {
      padding: 0;
    }
  }
</style>

<main
  class:c-gray-bg-6={dark}
  class:c-gray-10={dark}
  class:c-gray-6={superdark}
  class:c-gray-bg-2={superdark}
  class:text-center={textCenter}>
  <div class:maxWidth class:minHeight>
    <slot />
  </div>
</main>
