<script>
  import { goto } from "@sapper/app";
  import Button from "../Button";
  export let label = "Make your first chart";
</script>

<div style="display: inline-block">
  <Button action={() => goto('new')}>{label}</Button>
  <p class="text-center xs c-gray-8">No credit card. No registration.</p>
</div>
