<script context="module">
  export async function preload(page, session) {
    const { username, dash, widget } = page.params;
    const backendURI = process.env.BACKEND_URI || BACKEND_URI;
    const resp = await this.fetch(
      `${backendURI}/${username}/${dash}/${widget}?all_confs=true`
    );
    const allPossibleWidgets = await resp.json();
    return { allPossibleWidgets, username, dash };
  }
</script>

<script>
  export let allPossibleWidgets;
  export let username;
  export let dash;
  import { goto } from "@sapper/app";
  import VarChart from "../../../../components/charts/VarChart";
  import ChartsContainer from "../../../../components/charts/ChartsContainer";
  import ContentFull from "../../../../components/css/ContentFull";
  import BackButton from "../../../../components/BackButton";
  import Tawk from "../../../../components/Tawk";
  import urlJoin from "proper-url-join";

  const tsOrder = ["minute", "hour", "day", "month"];

  const widgetsByTransform = allPossibleWidgets.reduce((acc, widget) => {
    const key = widget.meta.transform || "ungrouped";
    if (!acc[key]) {
      acc[key] = [];
    }
    acc[key].push(widget);
    acc[key].sort((a, b) => {
      return (
        tsOrder.indexOf(a.meta.timeseries) - tsOrder.indexOf(b.meta.timeseries)
      );
    });

    return acc;
  }, {});
  const transformKeys = Object.keys(widgetsByTransform);

  const transformTranslations = [
    ["ungrouped", "Simple"],
    ["avg_numbers", "Average numbers"],
    ["sum_numbers", "Sum numbers"],
    ["sum_map", "Sum object values"],
    ["avg_map", "Average object values"],
    ["categorize_strings", "Categorize primitives"],
    ["count_messages", "Count requests"]
  ].filter(([catKey, catName]) => transformKeys.includes(catKey));

  async function handleChartBoxClick(e, widget) {
    const user = widget.meta.namespace[0];
    const dash = widget.meta.namespace[1];
    const widgetName = widget.meta.namespace[2];

    await fetch(urlJoin(BACKEND_URI, user, dash, widgetName, "settings"), {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        timeseries: widget.meta.timeseries,
        transform: widget.meta.transform
      })
    });
    goto(urlJoin(user, dash));
  }
</script>

<style>
  .category-title {
    display: block;
    text-align: center;
  }
  h1 {
    margin-top: 3rem;
    text-align: center;
  }
</style>

<BackButton on:click={() => goto(urlJoin(username, dash))} />

<ContentFull>
  <h1>Choose how you want your chart</h1>

  {#each transformTranslations as [key, trans]}
    {#if key !== 'ungrouped'}
      <h2 class="category-title">{trans}</h2>
    {/if}
    <ChartsContainer>
      {#each widgetsByTransform[key] as widget}
        <VarChart
          {widget}
          title={widget.meta.timeseries}
          on:click={e => handleChartBoxClick(e, widget)} />
      {/each}
    </ChartsContainer>
  {/each}
</ContentFull>

<Tawk />
