<script>
  import { onMount } from "svelte";
  import * as Pancake from "../../../pancake-ce";
  import ColumnTooltip from "../ColumnTooltip";
  import { formatDatetimes, dropExcess } from "../../utils";
  import moment from "moment";

  export let widget;
  $: data = widget.data;
  $: meta = widget.meta;

  $: labels = dropExcess(data, 2).map(d => d.datetime);
  $: ticks = formatDatetimes(labels);

  $: while (data.length <= 10) {
    data.unshift({ datetime: NaN, body: 0 });
  }
  $: convertedData = data.map((d, i) => ({
    x: i,
    y: d.body,
    datetime: d.datetime
  }));

  $: vertMaxVal = Math.max(null, ...data.map(d => d.body));
  const barWidth = 0.6;
  const xAxisTickCount = 2; // approximate
  const xAxisAdjustment = 0;
</script>

<style>
  .container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .column {
    height: 100%;
    width: 100%;
  }

  .chart {
    padding: 0 1rem;
    flex-grow: 1;
  }
  .y-labels > :global(div) {
    width: 100%;
  }
  .max-val {
    width: 100%;
    transform: translateY(-100%);
    border-bottom: 1px dashed;
    text-align: left;
  }
</style>

<div class="container">
  <!-- <p class="vertMaxVal c-gray-6">{vertMaxVal}</p> -->
  <div class="chart">
    <Pancake.Chart
      x1={xAxisAdjustment}
      x2={convertedData.length}
      y1={0}
      y2={vertMaxVal * 1.2}>

      <Pancake.Columns data={convertedData} width={barWidth} let:value>
        <ColumnTooltip
          value={value.y}
          datetime={formatDatetimes(value.datetime)}>
          <div class="column c-primary-bg-6 shadow-1-1 radius-3" />
        </ColumnTooltip>
      </Pancake.Columns>

      <div class="y-labels">
        <Pancake.Point x={-0.5} y={vertMaxVal}>
          <div class="max-val c-gray-6">{vertMaxVal}</div>
        </Pancake.Point>
      </div>

    </Pancake.Chart>
  </div>
</div>
