<script>
  import { onMount, beforeUpdate } from "svelte";
  import { formatDatetimes } from "../../utils";
  export let widget;

  $: info = widget.data[widget.data.length - 1].body;
  let p;

  onMount(() => {
    const maxWidth = p.parentElement.scrollWidth;
    const currentWidth = p.scrollWidth;
    const missingFillWidth = maxWidth / currentWidth;

    const maxHeight = p.parentElement.scrollHeight;
    const currentHeight = p.scrollHeight;
    const missingFillHeight = maxHeight / currentHeight;

    const currentFontSize = parseFloat(
      getComputedStyle(p).getPropertyValue("font-size")
    );
    const newFontSize =
      currentFontSize * Math.min(missingFillHeight, missingFillWidth);
    p.style.fontSize = newFontSize + "px";
  });
</script>

<style>
  .info {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    transition: font-size 0.4s;
  }
  .info.object {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    text-align: left;
    padding: 1rem;
    border-radius: 5px;
  }
  .label {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
  }
  .shad {
    text-shadow: 0px 1px 1px hsla(35, 100%, 15%, 0.7);
  }
</style>

{#if typeof info === 'object'}
  <p class="info object c-primary" bind:this={p}>
    {JSON.stringify(info, null, 2)}
  </p>
{:else}
  <p class="info c-primary-6 shad" bind:this={p}>{info}</p>
{/if}
