<script>
  import { onMount } from "svelte";
  import ColumnTooltip from "../ColumnTooltip";
  import * as Pancake from "../../../pancake-ce";
  import { formatDatetimes, dropExcess } from "../../utils";
  import moment from "moment";

  export let widget;

  $: meta = widget.meta;
  $: data = widget.data;

  // Object has many keys, limit chart length accordingly
  // Without cloning many times the ...data syntax breaks
  // data consistency when lots of keys
  function getAllKeys(bodies) {
    const keys = new Set();
    for (const body of bodies) {
      for (const key of Object.keys(body.body)) {
        keys.add(key);
      }
    }
    return Array.from(keys);
  }
  $: maxDataAmount = -1 * (100 / getAllKeys(data).length);
  $: dataSec = data.slice(maxDataAmount);
  $: allKeys = getAllKeys(data);

  //Colors
  const colors = [];
  const colorCount = 28;
  $: for (let i = 0; i < allKeys.length; i++) {
    const ii = (i % colorCount) + 1;
    colors.push(`c-chart-bg-${ii}`);
  }
  $: coloredKeys = allKeys.reduce((acc, key, i) => {
    acc[key] = colors[i];
    return acc;
  }, {});

  // Chart settings
  const vertPadding = 2;
  $: vertMaxVal =
    Math.max(null, ...dataSec.map(d => Math.max(...Object.values(d.body)))) +
    vertPadding;
  const xAxisTickCount = 2; // approximate
  const xAxisAdjustment = -0;
  const barWidth = 0.95;
  const groupGap = 1;
  $: shiftX = 1 / (allKeys.length + groupGap);

  // X axis labels
  $: labels = dropExcess(dataSec, 2).map(d => d.datetime);
  $: ticks = formatDatetimes(labels);

  // Y axis labels
  $: maxKeys = dataSec.reduce((acc, { body }, i) => {
    Object.entries(body).forEach(([key, val], j) => {
      const new_i = i + (j / dataSec.length) * (1 - shiftX);
      if (!acc[key]) {
        acc[key] = [new_i, val];
      } else {
        const [old_i, old_val] = acc[key];
        acc[key] = old_val >= val ? acc[key] : [new_i, val];
      }
    });
    return acc;
  }, {});

  // Convert dataSec for chart
  $: dataWithI = dataSec.map((d, i) => ({ ...d.body, i }));
  $: stacks = Pancake.stacks(dataWithI, allKeys, "i");
</script>

<style>
  .y.label {
    position: absolute;
    left: -2.5rem;
    width: 2rem;
    text-align: right;
    bottom: -0.5em;
  }

  .column {
    height: 100%;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .key-label {
    display: inline;
    padding: 0.5rem;
  }
  .y-labels > :global(div) {
    width: 100%;
  }
  .max-val {
    width: 100%;
    transform: translateY(-100%);
    border-bottom: 1px dashed;
    text-align: left;
  }
  .chart-keys {
    max-height: 6rem;
    overflow: hidden;
  }
</style>

<div class="container">

  <div class="chart-keys">
    {#each allKeys as key}
      <div class={`${coloredKeys[key].replace('-bg', '')} key-label`}>
        {key}
      </div>
    {/each}
  </div>

  <div class="grow">
    <Pancake.Chart
      x1={0}
      x2={stacks[0].values.length - shiftX * groupGap}
      y1={0}
      y2={vertMaxVal * 1.2}>

      {#each stacks as stack, i}
        {#each stack.values as d, j}
          <Pancake.Box
            x1={d.i + i * shiftX}
            x2={d.i + i * shiftX + shiftX * barWidth}
            y1={d.value}
            y2={0}>
            <ColumnTooltip
              value={data[j].body}
              datetime={formatDatetimes(data[j].datetime)}
              {coloredKeys}>
              <div class={`column ${coloredKeys[d.key]} shadow-1-1 radius-3`} />
            </ColumnTooltip>
          </Pancake.Box>
        {/each}
      {/each}

      <div class="y-labels">
        <Pancake.Point x={0} y={vertMaxVal - vertPadding}>
          <div class={`max-val c-gray-6`}>{vertMaxVal - vertPadding}</div>
        </Pancake.Point>

      </div>

    </Pancake.Chart>
  </div>
</div>
