<script>
  import { onMount, onDestroy } from "svelte";
  import urlJoin from "proper-url-join";
  import BarChart from "./BarChart";
  import StackChart from "./StackChart";
  import LastChart from "./LastChart";
  import { formatDatetimes, dropExcess, isNumeric } from "../../utils";

  export let widget;
  export let title = widget.meta.namespace[2];

  title = title.replace(/-/g, " ");

  widget = JSON.parse(JSON.stringify(widget));

  const isNew = widget.meta.no_settings === true;
  const isObject =
    typeof widget.data[0].body === "object" && widget.data[0].body !== null;

  // Convert "123" to 123
  const isNumberInString = isObject
    ? Object.values(widget.data[0].body).reduce(
        (acc, curr) => acc || isNumeric(curr),
        false
      )
    : isNumeric(widget.data[0].body);
  if (isNumberInString) {
    widget.data = widget.data.map(d => ({
      ...d,
      body:
        d.body && typeof d.body === "object"
          ? Object.entries(d.body).reduce((acc, [key, val]) => {
              acc[key] = Number(val);
              return acc;
            }, d.body)
          : Number(d.body)
    }));
  }

  const tickCount = widget.meta.timeseries === "last" ? 1 : 2;
  const labels = dropExcess(widget.data, tickCount).map(d => d.datetime);
  const ticks = formatDatetimes(labels);

  let socket;
  function startSocket() {
    const backURL = BACKEND_URI.replace("http", "ws");
    const wsURI = urlJoin(backURL, ...widget.meta.namespace, "ws", {
      query: {
        datetime: widget.data[widget.data.length - 1].datetime,
        timeseries: widget.meta.timeseries,
        transform: widget.meta.transform
      }
    });

    socket = new WebSocket(wsURI);

    socket.addEventListener("message", event => {
      const newWidget = JSON.parse(event.data);
      const matchingRow = widget.data.findIndex(
        old_row => old_row.datetime === newWidget.data[0].datetime
      );
      if (matchingRow > -1) {
        widget.data.splice(matchingRow);
      }
      let newData = [...widget.data, ...newWidget.data];
      const cutAmount = newData.length - 100;
      if (cutAmount > 0) {
        newData.splice(0, cutAmount);
      }
      widget.data = newData;
      widget = widget;
    });

    socket.addEventListener("close", event => {
      startSocket();
    });
  }

  onMount(() => {
    startSocket();
  });

  onDestroy(() => {
    if (socket) {
      socket.close();
    }
  });
</script>

<style>
  .container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: 36rem;
    min-width: 30rem;
    width: 100%;
    max-width: 32%;
    box-sizing: border-box;
    transition: background 0.1s;
    cursor: pointer;
  }
  .container:hover {
    background: hsl(212, 92%, 95%);
  }
  .title {
    text-align: center;
    margin: 0;
  }
  p.new {
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-align: center;
  }
  .container.new {
    border: 0.4rem solid hsl(344, 100%, 70%);
  }
  .inner-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
  .ticks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
</style>

<div
  class="container {isNew && 'new'} c-gray-bg-10 box-margin radius box-padding
  shadow-1-1"
  on:click>

  {#if isNew}
    <p class="c-accent-bg box-padding radius new">
      New widget! Change settings.
    </p>
  {/if}
  <p class="title c-gray l">{title}</p>

  <div class="inner-container">
    {#if widget.meta.timeseries === 'last'}
      <LastChart {widget} />
    {:else if isObject}
      <StackChart {widget} />
    {:else}
      <BarChart {widget} />
    {/if}
  </div>

  <div class="ticks">
    {#if ticks.length === 1}
      <div class="c-gray" style="margin: auto;">{ticks}</div>
    {:else}
      {#each ticks as tick, i (tick + i)}
        <div class="c-gray">{tick}</div>
      {/each}
    {/if}
  </div>

</div>
