<script context="module">
  export async function preload(page, session) {
    const { username, dash } = page.params;
    const backendURI = process.env.BACKEND_URI || BACKEND_URI;
    const widgetsResponse = await this.fetch(
      `${backendURI}/${username}/${dash}`
    );
    const widgets = await widgetsResponse.json();
    const reservedResponse = await this.fetch(`${backendURI}/${username}/res`);
    const reserved = await reservedResponse.json();
    return { widgets, page, reserved };
  }
</script>

<script>
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import urlJoin from "proper-url-join";
  import EmptyDash from "../../components/EmptyDash";
  import VarChart from "../../components/charts/VarChart";
  import ChartsContainer from "../../components/charts/ChartsContainer";
  import ContentParagraph from "../../components/css/ContentParagraph";
  import ContentFull from "../../components/css/ContentFull";
  import BackButton from "../../components/BackButton";
  import ReserveUser from "../../components/ReserveUser";
  import Tawk from "../../components/Tawk";
  export let reserved;
  export let widgets;
  export let page;
  const { username, dash } = page.params;

  const atLeastOneSetting = !!Object.values(widgets).find(
    w => !w.meta.no_settings
  );

  let inIframe;
  $: countMessages = 0;
  onMount(() => {
    inIframe = window.self !== window.top;

    if (!Object.values(widgets).length) {
      setInterval(async () => {
        const resp = await fetch(urlJoin(BACKEND_URI, username, dash, "cou"));
        const json = await resp.json();
        countMessages = json.messages_count;
        if (json.month_count > 0) {
          location.reload();
        }
      }, 1000);
    }
  });

  const handleClick = async href => {
    if (!inIframe) {
      await goto(href);
    }
  };

  const widgetsArr = Object.entries(widgets);
</script>

{#if widgetsArr.length === 0}
  <ContentFull background="white">
    <ContentParagraph>
      {#if countMessages > 0}
        <div class="c-warning-bg-5 box-padding radius c-warning-2">
          We've received {countMessages} request{countMessages > 1 ? 's' : ''}.
          Your chart will be ready in a minute.
        </div>
      {/if}
      <EmptyDash {page} />
    </ContentParagraph>
  </ContentFull>
{:else}
  {#if inIframe === false}
    <BackButton on:click={() => handleClick(urlJoin(username))} />
  {/if}
  <ContentFull>
    <ChartsContainer>
      {#if !reserved && atLeastOneSetting}
        <ReserveUser {username} />
      {/if}
      {#each widgetsArr as [widgetName, widget], i (widget.meta.namespace.join() + widget.data[widget.data.length - 1].datetime)}
        <VarChart
          {widget}
          sse={i < 3}
          title={widget.meta.namespace[2]}
          on:click={() => handleClick(urlJoin(page.path, widgetName, 'settings'))} />
      {/each}
    </ChartsContainer>
  </ContentFull>
{/if}

<Tawk />
