<script>
  export let action = undefined;
</script>

<style>
  button {
    border: none;
  }
  button:not([disabled]) {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
</style>

<button
  class={`box-padding ${action ? 'c-primary-bg c-primary-10' : 'c-gray-bg-9 c-gray-6'} radius depth shadow-1-2`}
  disabled={!action}
  on:click={action}>
  <p class="xl">
    <slot />
  </p>
</button>
