<script>
  export let value;
  export let datetime;
  export let coloredKeys;
  const isObject = value && typeof value === "object";
</script>

<style>
  .tooltip-enabled {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .tooltip-enabled:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20rem;
    width: 100%;
  }
  .tooltip-enabled:hover {
    opacity: 1;
    z-index: 2;
  }
  .tooltip-enabled:hover .tooltip {
    display: block;
  }
  .tooltip {
    display: none;
    pointer-events: none;
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    transform: translateX(-100%);
    text-align: left;
    border-radius: 3px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
  }
  .tooltip p {
    margin: 0;
  }
</style>

<div class="tooltip-enabled">
  <slot />
  <div class="tooltip">
    {#if isObject && coloredKeys}
      {#each Object.entries(value) as [key, val]}
        <p class={coloredKeys[key] && coloredKeys[key].replace('-bg', '')}>
          {key}: {val}
        </p>
      {/each}
      <p class="c-gray-6">{datetime}</p>
    {:else if isObject}
      <pre class="c-gray-3">{JSON.stringify(value, null, 2)}</pre>
      <p class="c-gray-6">{datetime}</p>
    {:else}
      <p class="c-gray-3">{value}</p>
      <p class="c-gray-6">{datetime}</p>
    {/if}
  </div>
</div>
