<script>
  import { onMount } from "svelte";
  import { Tabs, Tab, TabList, TabPanel } from "./tabs";
  export let page;

  let widgetUrl;
  function getWidgetUrl(protocol, host) {
    return `${protocol}//${host}/${page.params.username}/${page.params.dash}/example-sale`;
  }

  onMount(async () => {
    let host = page.host;
    if (host.includes("localhost")) {
      host = (process.env.BACKEND_URI || BACKEND_URI).split("//")[1];
    }
    widgetUrl = getWidgetUrl(location.protocol, host);
  });
  widgetUrl = getWidgetUrl("https:", page.host);
</script>

<style>
  .mt0 {
    margin-top: 0;
  }
</style>

<div>
  <h3 class="mt0">Hello there {page.params.username}</h3>
  <p>This is your new dashboard "{page.params.dash}".</p>
  <p>
    Send us some data and we'll generate charts from it! It can be anything from
    numbers to JSON objects. All you have to do is send it to Bashboard.io via
    POST request like the examples below.
  </p>
  <p>Then refresh the page (new data can take up to a minute to display).</p>
  {#if widgetUrl}
    <Tabs>
      <TabList>
        <Tab>JavaScript</Tab>
        <Tab>Bash</Tab>
        <Tab>Python</Tab>
        <Tab>Elixir</Tab>
      </TabList>

      <TabPanel>
        <pre>
          {`
fetch('${widgetUrl}', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({
    amount: 3,
    price: 45,
    age: 35
  })
})`}
        </pre>
      </TabPanel>

      <TabPanel>
        <pre>
          {`
# A simple number, like CPU usage
curl -d 76 ${widgetUrl}

# A complex JSON object
curl -d '{"amount": 10, "price": 3.44, "age": 35}' \\
    -H "Content-Type: application/json" \\
    ${widgetUrl}
    `}
        </pre>
      </TabPanel>

      <TabPanel>
        <pre>
          {`
import requests
requests.post(
    "${widgetUrl}",
    data={
        'price': 45,
        'amount': 3,
        'age': 35
    }
)
`}
        </pre>
      </TabPanel>

      <TabPanel>
        <pre>
          {`
HTTPoison.post(
    "${widgetUrl}",
    "{\\"amount\\": 12, \\"price\\": 5, \\"age\\": 35}", [{"Content-Type", "application/json"}]
)
    `}
        </pre>
      </TabPanel>
    </Tabs>
  {/if}
</div>
