<script>
  import urlJoin from "proper-url-join";

  export let username;

  let buttonLabel = `Reserve '${username}'`;

  async function handleSubmit(e) {
    e.preventDefault();
    var data = {};
    new FormData(e.target).forEach((value, key) => {
      data[key] = value;
    });
    if (data["updates_allowed"] === "on") {
      data["updates_allowed"] = true;
    } else {
      data["updates_allowed"] = false;
    }

    buttonLabel = "Requesting reserve...";
    try {
      const response = await fetch(urlJoin(BACKEND_URI, username, "res"), {
        method: "POST",
        headers: {
          "content-type": "application/json"
        },
        body: JSON.stringify(data)
      });
      if (response.ok) {
        const { reserved } = await response.json();
        buttonLabel = `Username '${reserved}' reserved!`;
      } else {
        buttonLabel = "Reservation failed";
      }
    } catch (e) {
      buttonLabel = "Reservation failed";
    }
  }
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 36rem;
    width: 100%;
    min-width: 30rem;
    max-width: 32%;
    box-sizing: border-box;
  }
  form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

    border: 0.4rem solid hsl(344, 100%, 70%);
    padding: 2rem;
  }
  p {
    margin: 0;
  }
  form > *:not(:first-child) {
    width: 100%;
    margin: 0.3rem 0;
  }
  .w {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
  }
</style>

<div class="container box-margin">
  <form on:submit={handleSubmit} class="c-gray-bg-10 radius c-gray-2">
    <p>
      User accounts coming soon.
      <br />
      Reserve username '{username}' with your email.
    </p>
    <input name="email" class="w" type="email" placeholder="you@company.com" />
    <label>
      <input name="updates_allowed" type="checkbox" />
      Send me product updates
    </label>
    <input class="w" type="submit" value={buttonLabel} />
  </form>
</div>
