
@font-face {
	font-family: "Inter";
	src: url("fonts/Inter.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
@font-face {
	font-family: "Inter";
	src: url("fonts/Inter.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Inter";
	src: url("fonts/Inter.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("fonts/SourceCodePro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
@font-face {
	font-family: "SourceCodePro";
	src: url("fonts/SourceCodePro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html { font-size: 62.5%; }

body {
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 1.8rem;
	line-height: 1.6;
}

/* FONTS */

a, a:visited, a:hover {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.8rem;
}

h1 {
	font-size: 7.2rem;
	margin-top: 14rem;
	line-height: 1.1;
	letter-spacing: -4px;
}
h2 {
	font-size: 6.0rem;
	margin-top: 12rem;
	line-height: 1.15;
	letter-spacing: -3px;
}
h3 {
	font-size: 4.8rem;
	margin-top: 10rem;
	line-height: 1.2;
	letter-spacing: -2px;
}
h4 {
	font-size: 3.8rem;
	margin-top: 7rem;
	line-height: 1.24;
	letter-spacing: -1px;
}
h5 {
	font-size: 3.2rem;
	margin-top: 5.5rem;
	line-height: 1.27;
	letter-spacing: 0px;
}
h6 {
	font-size: 2.6rem;
	margin-top: 4rem;
	line-height: 1.3;
	letter-spacing: 1px;
}
p.xl, a.xl, span.xl {
	font-size: 2.2rem;
}
p.l, a.l, span.l {
	font-size: 2.0rem;
}
p, a {
	font-size: 1.8rem;
}
p.s, a.s, span.s {
	font-size: 1.6rem;
}
p.xs, a.xs, span.xs {
	font-size: 1.4rem;
}

pre {
	font-family: 'SourceCodePro', monospace;
	font-size: 1.6rem;
}

hr {
	opacity: 0.2;
	margin: 8rem 0 6rem 0;
}

blockquote {
	margin: 0;
	border-left: 0.6rem solid hsl(216,55%,75%);
	padding: 2rem;
	font-size: 2.2rem;
}

@media (max-width: 70rem) {

	h1 {
		font-size: 4.5rem;
		margin-top: 7rem;
		line-height: 1.1;
		letter-spacing: -2px;
	}
	h2 {
		font-size: 4rem;
		margin-top: 6rem;
		line-height: 1.15;
		letter-spacing: -1px;
	}
	h3 {
		font-size: 3.5rem;
		margin-top: 5rem;
		line-height: 1.2;
		/* letter-spacing: -2px; */
	}
	h4 {
		font-size: 3rem;
		margin-top: 3.5rem;
		line-height: 1.24;
		/* letter-spacing: -1px; */
	}
	h5 {
		font-size: 2.6rem;
		margin-top: 3rem;
		line-height: 1.27;
		/* letter-spacing: 0px; */
	}
	h6 {
		font-size: 2.2rem;
		margin-top: 2.5rem;
		line-height: 1.3;
		letter-spacing: 1px;
	}
	p.xl, a.xl, span.xl {
		font-size: 2rem;
	}
	p.l, a.l, span.l {
		font-size: 1.8rem;
	}
	p, a {
		font-size: 1.6rem;
	}
	p.s, a.s, span.s {
		font-size: 1.4rem;
	}
	p.xs, a.xs, span.xs {
		font-size: 1.3rem;
	}

	pre {
		font-family: 'SourceCodePro', monospace;
		font-size: 1.6rem;
	}
}


/* SPACING */

.h100 {
	height: 100%;
}
.w100 {
	width: 100%;
}
.wh100 {
	width: 100%;
	height: 100%;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.grow {
	flex-grow: 1;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.space-around {
	justify-content: space-around;
}
.space-evenly {
	justify-content: space-evenly;
}
.space-between {
	justify-content: space-between;
}
.baseline {
	align-items: baseline;
}

.box-margin {
	margin: 1rem;
}

.box-padding {
	padding: 1.5rem 3rem;
	box-sizing: border-box;
}

.radius, .radius-1 {
	border-radius: 1rem;
}

.radius-2 {
	border-radius: 0.5rem;
}

.radius-3 {
	border-radius: 0.25rem;
}
.text-center {
  text-align: center;
}
.float-right {
	float: right;
}

/* DEPTH */

.depth, .depth-1 {
	box-shadow: inset 0 1px 1px hsl(214,78%,85%)
}

/* SHADOWS */

.shadow, .shadow-1, .shadow-1-1 {
	box-shadow: 0 1px 3px hsla(0,0%,0%,.06), 0 1px 2px hsla(0,0%,0%,.12);
}
.shadow-2, .shadow-2-1 {
	box-shadow: 0 3px 6px hsla(0,0%,0%,.075), 0 2px 4px hsla(0,0%,0%,.06);
}
.shadow-3, .shadow-3-1 {
	box-shadow: 0 10px 20px hsla(0,0%,0%,.075), 0 3px 6px hsla(0,0%,0%,.05);
}
.shadow-4, .shadow-4-1 {
	box-shadow: 0 15px 25px hsla(0,0%,0%,.075), 0 5px 10px hsla(0,0%,0%,.05);
}
.shadow-5, .shadow-5-1 {
	box-shadow: 0 20px 40px hsla(0,0%,0%,.1);
}
.shadow-1-2 {
	box-shadow: 0 1px 3px hsla(0,0%,0%,.12), 0 1px 2px hsla(0,0%,0%,.24);
}
.shadow-2-2 {
	box-shadow: 0 3px 6px hsla(0,0%,0%,.15), 0 2px 4px hsla(0,0%,0%,.12);
}
.shadow-3-2 {
	box-shadow: 0 10px 20px hsla(0,0%,0%,.15), 0 3px 6px hsla(0,0%,0%,.1);
}
.shadow-4-2 {
	box-shadow: 0 15px 25px hsla(0,0%,0%,.15), 0 5px 10px hsla(0,0%,0%,.1);
}
.shadow-5-2 {
	box-shadow: 0 20px 40px hsla(0,0%,0%,.2);
}

/* COLORS */

.c-bg-white {
	background: white;
}

.c-brand-bg {
	background: rgb(255,104,145);
	background: linear-gradient(0deg, rgba(255,104,145,1) 0%, rgba(252,160,111,1) 100%);
}

.c-primary-bg-1 {
	background: hsl(25,100%,15%);
}
.c-primary-bg-2 {
	background: hsl(23,100%,24%);
}
.c-primary-bg-3 {
	background: hsl(21,100%,36%);
}
.c-primary-bg-4 {
	background: hsl(19,100%,52%);
}
.c-primary-bg, .c-primary-bg-5 {
	background: hsl(17,100%,60%);
}
.c-primary-bg-6 {
	background: hsl(15,100%,69%);
}
.c-primary-bg-7 {
	background: hsl(13,100%,80%);
}
.c-primary-bg-8 {
	background: hsl(11,100%,87%);
}
.c-primary-bg-9 {
	background: hsl(9,100%,93%);
}
.c-primary-bg-10 {
	background: hsl(7,100%,97%);
}

.c-accent-bg-1 {
	background: hsl(348,100%,15%);
}
.c-accent-bg-2 {
	background: hsl(347,90%,30%);
}
.c-accent-bg-3 {
	background: hsl(346,80%,45%);
}
.c-accent-bg-4 {
	background: hsl(345,90%,60%);
}
.c-accent-bg, .c-accent-bg-5 {
	background: hsl(344,100%,70%);
}
.c-accent-bg-6 {
	background: hsl(340,100%,75%);
}
.c-accent-bg-7 {
	background: hsl(336,100%,80%);
}
.c-accent-bg-8 {
	background: hsl(332,100%,85%);
}
.c-accent-bg-9 {
	background: hsl(328,100%,90%);
}
.c-accent-bg-10 {
	background: hsl(324,100%,97%);
}

.c-gray-bg-1 {
	background: hsl(228,70%,13%);
}
.c-gray-bg-2 {
	background: hsl(226,35%,24%);
}
.c-gray-bg-3 {
	background: hsl(224,35%,36%);
}
.c-gray-bg-4 {
	background: hsl(222,35%,48%);
}
.c-gray-bg, .c-gray-bg-5 {
	background: hsl(220,40%,55%);
}
.c-gray-bg-6 {
	background: hsl(218,46%,65%);
}
.c-gray-bg-7 {
	background: hsl(216,55%,75%);
}
.c-gray-bg-8 {
	background: hsl(214,78%,85%);
}
.c-gray-bg-9 {
	background: hsl(212,92%,95%);
}
.c-gray-bg-10 {
	background: hsl(210,100%,100%);
}

.c-error-bg-1 {
	background: hsl(356,100%,10%);
}
.c-error-bg-2 {
	background: hsl(358,100%,22%);
}
.c-error-bg-3 {
	background: hsl(0,100%,34%);
}
.c-error-bg-4 {
	background: hsl(3,90%,58%);
}
.c-error-bg, .c-error-bg-5 {
	background: hsl(7,90%,70%);
}
.c-error-bg-6 {
	background: hsl(7,100%,85%);
}

.c-warning-bg-1 {
	background: hsl(43,100%,10%);
}
.c-warning-bg-2 {
	background: hsl(45,100%,22%);
}
.c-warning-bg-3 {
	background: hsl(47,100%,34%);
}
.c-warning-bg-4 {
	background: hsl(50,90%,58%);
}
.c-warning-bg, .c-warning-bg-5 {
	background: hsl(53,100%,70%);
}

.c-success-bg-1 {
	background: hsl(93,100%,10%);
}
.c-success-bg-2 {
	background: hsl(95,90%,18%);
}
.c-success-bg-3 {
	background: hsl(97,70%,40%);
}
.c-success-bg-4 {
	background: hsl(100,55%,50%);
}
.c-success-bg, .c-success-bg-5 {
	background: hsl(103,60%,60%);
}


.c-chart-bg-1 {
	background: hsl(17, 80%, 30%);
}
.c-chart-bg-2 {
	background: hsl(17, 80%, 40%);
}
.c-chart-bg-3 {
	background: hsl(17, 80%, 60%);
}
.c-chart-bg-4 {
	background: hsl(17, 80%, 75%);
}
.c-chart-bg-5 {
	background: hsl(67, 60%, 30%);
}
.c-chart-bg-6 {
	background: hsl(67, 60%, 40%);
}
.c-chart-bg-7 {
	background: hsl(67, 60%, 60%);
}
.c-chart-bg-8 {
	background: hsl(67, 60%, 75%);
}
.c-chart-bg-9 {
	background: hsl(117, 60%, 30%);
}
.c-chart-bg-10 {
	background: hsl(117, 60%, 40%);
}
.c-chart-bg-11 {
	background: hsl(117, 60%, 60%);
}
.c-chart-bg-12 {
	background: hsl(117, 60%, 75%);
}
.c-chart-bg-13 {
	background: hsl(167, 60%, 30%);
}
.c-chart-bg-14 {
	background: hsl(167, 60%, 40%);
}
.c-chart-bg-15 {
	background: hsl(167, 60%, 60%);
}
.c-chart-bg-16 {
	background: hsl(167, 60%, 75%);
}
.c-chart-bg-17 {
	background: hsl(217, 60%, 30%);
}
.c-chart-bg-18 {
	background: hsl(217, 60%, 40%);
}
.c-chart-bg-19 {
	background: hsl(217, 60%, 60%);
}
.c-chart-bg-20 {
	background: hsl(217, 60%, 75%);
}
.c-chart-bg-21 {
	background: hsl(267, 60%, 30%);
}
.c-chart-bg-22 {
	background: hsl(267, 60%, 40%);
}
.c-chart-bg-23 {
	background: hsl(267, 60%, 60%);
}
.c-chart-bg-24 {
	background: hsl(267, 60%, 75%);
}
.c-chart-bg-25 {
	background: hsl(317, 60%, 30%);
}
.c-chart-bg-26 {
	background: hsl(317, 60%, 40%);
}
.c-chart-bg-27 {
	background: hsl(317, 60%, 60%);
}
.c-chart-bg-28 {
	background: hsl(317, 60%, 75%);
}

/* COLORS WITHOUT BG */


.c-primary-1 {
	color: hsl(25,100%,15%);
}
.c-primary-2 {
	color: hsl(23,100%,24%);
}
.c-primary-3 {
	color: hsl(21,100%,36%);
}
.c-primary-4 {
	color: hsl(19,100%,52%);
}
.c-primary, .c-primary-5 {
	color: hsl(17,100%,60%);
}
.c-primary-6 {
	color: hsl(15,100%,69%);
}
.c-primary-7 {
	color: hsl(13,100%,80%);
}
.c-primary-8 {
	color: hsl(11,100%,87%);
}
.c-primary-9 {
	color: hsl(9,100%,93%);
}
.c-primary-10 {
	color: hsl(7,100%,97%);
}

.c-accent-1 {
	color: hsl(348,100%,15%);
}
.c-accent-2 {
	color: hsl(347,90%,30%);
}
.c-accent-3 {
	color: hsl(346,80%,45%);
}
.c-accent-4 {
	color: hsl(345,90%,60%);
}
.c-accent, .c-accent-5 {
	color: hsl(344,100%,70%);
}
.c-accent-6 {
	color: hsl(340,100%,75%);
}
.c-accent-7 {
	color: hsl(336,100%,80%);
}
.c-accent-8 {
	color: hsl(332,100%,85%);
}
.c-accent-9 {
	color: hsl(328,100%,90%);
}
.c-accent-10 {
	color: hsl(324,100%,97%);
}

.c-gray-1 {
	color: hsl(228,100%,13%);
}
.c-gray-2 {
	color: hsl(226,35%,24%);
}
.c-gray-3 {
	color: hsl(224,35%,36%);
}
.c-gray-4 {
	color: hsl(222,35%,48%);
}
.c-gray, .c-gray-5 {
	color: hsl(220,40%,55%);
}
.c-gray-6 {
	color: hsl(218,46%,65%);
}
.c-gray-7 {
	color: hsl(216,55%,75%);
}
.c-gray-8 {
	color: hsl(214,78%,85%);
}
.c-gray-9 {
	color: hsl(212,92%,95%);
}
.c-gray-10 {
	color: hsl(210,100%,100%);
}

.c-error-1 {
	color: hsl(356,100%,10%);
}
.c-error-2 {
	color: hsl(358,100%,22%);
}
.c-error-3 {
	color: hsl(0,100%,34%);
}
.c-error-4 {
	color: hsl(3,90%,58%);
}
.c-error, .c-error-5 {
	color: hsl(7,90%,70%);
}

.c-warning-1 {
	color: hsl(43,100%,10%);
}
.c-warning-2 {
	color: hsl(45,100%,22%);
}
.c-warning-3 {
	color: hsl(47,100%,34%);
}
.c-warning-4 {
	color: hsl(50,90%,58%);
}
.c-warning, .c-warning-5 {
	color: hsl(53,100%,70%);
}

.c-success-1 {
	color: hsl(93,100%,10%);
}
.c-success-2 {
	color: hsl(95,90%,18%);
}
.c-success-3 {
	color: hsl(97,70%,40%);
}
.c-success-4 {
	color: hsl(100,55%,50%);
}
.c-success, .c-success-5 {
	color: hsl(103,60%,60%);
}

.c-chart-1 {
	color: hsl(17, 80%, 30%);
}
.c-chart-2 {
	color: hsl(17, 80%, 40%);
}
.c-chart-3 {
	color: hsl(17, 80%, 60%);
}
.c-chart-4 {
	color: hsl(17, 80%, 75%);
}
.c-chart-5 {
	color: hsl(67, 60%, 30%);
}
.c-chart-6 {
	color: hsl(67, 60%, 40%);
}
.c-chart-7 {
	color: hsl(67, 60%, 60%);
}
.c-chart-8 {
	color: hsl(67, 60%, 75%);
}
.c-chart-9 {
	color: hsl(117, 60%, 30%);
}
.c-chart-10 {
	color: hsl(117, 60%, 40%);
}
.c-chart-11 {
	color: hsl(117, 60%, 60%);
}
.c-chart-12 {
	color: hsl(117, 60%, 75%);
}
.c-chart-13 {
	color: hsl(167, 60%, 30%);
}
.c-chart-14 {
	color: hsl(167, 60%, 40%);
}
.c-chart-15 {
	color: hsl(167, 60%, 60%);
}
.c-chart-16 {
	color: hsl(167, 60%, 75%);
}
.c-chart-17 {
	color: hsl(217, 60%, 30%);
}
.c-chart-18 {
	color: hsl(217, 60%, 40%);
}
.c-chart-19 {
	color: hsl(217, 60%, 60%);
}
.c-chart-20 {
	color: hsl(217, 60%, 75%);
}
.c-chart-21 {
	color: hsl(267, 60%, 30%);
}
.c-chart-22 {
	color: hsl(267, 60%, 40%);
}
.c-chart-23 {
	color: hsl(267, 60%, 60%);
}
.c-chart-24 {
	color: hsl(267, 60%, 75%);
}
.c-chart-25 {
	color: hsl(317, 60%, 30%);
}
.c-chart-26 {
	color: hsl(317, 60%, 40%);
}
.c-chart-27 {
	color: hsl(317, 60%, 60%);
}
.c-chart-28 {
	color: hsl(317, 60%, 75%);
}

@media (max-width: 70rem) {
	.container {
		max-width: 50rem !important;
	}
}
