
#tocMenu * {
    font-size: 1rem;
    color: #3498db;
    line-height: 2.5rem;
}

#tocMenu li.active {
    color: #3498db;
    font-weight: bold;
}

#tocMenu li:hover {
    color: #3498db;
    cursor: pointer;
}

#tocMenu ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
}

#tocMenu > ul:first-child {
    padding-left: 0;
    padding-top: 1.6rem;
}

/* Collapsing */

#tocMenu > ul ul {
	display: none;
}

#tocMenu ul.active {
	display: block;
}

#tocMenu li.active + ul {
	display: block;
}
